:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: antiquewhite;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

header .logo {
  color: var(--vermelho);
  font-family: Arial Black;
}
header nav a{
  text-decoration: none;
  color: antiquewhite;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff
}

/* filme principal */

.main-movie {
  padding: 20px;
  font-size: 16px;
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('/img/houseOfCardsCover.png');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main-movie .container {
  width: 70%;
}
.main-movie .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .description {
  margin: 0px 40px 15px 0px ;
}

.main-movie .main-button {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 12px;

  cursor: pointer;
  transition: .5s ease all;

}

.main-movie .main-button:hover {
  background: white;
  color: black;

}
.main-button i {
  margin-right: 5px;
}
